---
layout: default
title: Otomatik Mühendis
subtitle: makineleşmeyi hızlandıran site
---

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post">
  <header>
    <div class="title">
      <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
      {% if post.subtitle %}
      <p>{{ post.subtitle }}</p>
      {% endif %}
    </div>
    <div class="meta">
      <time class="published" datetime='{{ post.date | date: "%Y-%m-%d" }}'>{{ post.date | date: "%-d" }} 
        {% assign m = post.date | date: "%m" %}
        {% case m %}
          {% when '01' %}Ocak
          {% when '02' %}Şubat
          {% when '03' %}Mart
          {% when '04' %}Nisan
          {% when '05' %}Mayıs
          {% when '06' %}Haziran
          {% when '07' %}Temmuz
          {% when '08' %}Ağustos
          {% when '09' %}Eylül
          {% when '10' %}Ekim
          {% when '11' %}Kasım
          {% when '12' %}Aralık
        {% endcase %} 
        {{ post.date | date: "%Y" }}</time>
        {% assign author = site.data.authors[post.author] %}
      <a href="{{ post.url | prepend: site.baseurl }}#author" class="author"><span class="name">{{ post.author }}</span><img src="{{ author.avatar | prepend: "/img" }}" alt="{{ page.author }}" /></a>
      {% if post.categories %}
        <p>{{ post.categories | join: ", " }}</p>
        {% endif %}
    </div>
  </header>
  {% if post.image and post.image != "" %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="image featured"><img src="{{ post.image | prepend: site.baseurl | replace: '//', '/' }}" alt="" /></a>
  {% endif %}
  {{ post.excerpt }}
  <footer>
    <ul class="actions">
      <li><a href="{{ post.url | prepend: site.baseurl }}" class="button big">Okumaya Devam Et</a></li>
    </ul>
    <ul class="stats">
      <li><a href="{{ post.url | prepend: site.url }}#disqus_thread" class="icon fa-comment">0 yorum</a></li>
    </ul>
  </footer>
</article>
  {% endfor %}
</div>

<!-- Pagination -->
{% if paginator.total_pages > 1 %}
<ul class="actions pagination">
  <li>
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"  class="button big previous">DAHA YENİ YAZILAR</a>
  {% else %}
    <a href="#"  class="disabled button big previous">DAHA YENİ YAZILAR</a>
  {% endif %}
  </li>
  <li>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"  class="button big next">DAHA ESKİ YAZILAR</a>
  </li>
  {% else %}
    <a href="#"  class="disabled button big next">DAHA ESKİ YAZILAR</a>
  {% endif %}
</ul>
{% endif %}

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-1347000257232721"
     data-ad-slot="5429939799"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<script id="dsq-count-scr" src="//otomatikmuhendis.disqus.com/count.js" async></script>
