---
layout: page
title: Otomatik Mühendis
subtitle: makineleşmeyi hızlandıran site
---

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
    {% if post.image and post.image != "" %}
      <div class="featuredImg" style="background-image: url('{{ post.image | prepend: site.baseurl | replace: '//', '/' }}')"></div>
    {% endif %} 
	  <h2 class="post-title">{{ post.title }}</h2>
	
	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}  
    </a>

    <p class="post-meta">
      {{ post.date | date: "%-d" }} 
        {% assign m = post.date | date: "%m" %}
        {% case m %}
          {% when '01' %}Ocak
          {% when '02' %}Şubat
          {% when '03' %}Mart
          {% when '04' %}Nisan
          {% when '05' %}Mayıs
          {% when '06' %}Haziran
          {% when '07' %}Temmuz
          {% when '08' %}Ağustos
          {% when '09' %}Eylül
          {% when '10' %}Ekim
          {% when '11' %}Kasım
          {% when '12' %}Aralık
        {% endcase %} 
        {{ post.date | date: "%Y" }} tarihinde {{ post.author }} tarafından yayınlandı. <a href="{{ post.url | prepend: site.url }}#disqus_thread">0 yorum</a> yapıldı.
    </p>
  
    <div class="post-entry">
      {{ post.excerpt }}
	  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Okumaya Devam Et]</a>
    </div>
  
   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; DAHA YENİ YAZILAR</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">DAHA ESKİ YAZILAR &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}


<script id="dsq-count-scr" src="//otomatikmuhendis.disqus.com/count.js" async></script>