---
layout: default
---
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/tr_TR/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<article class="post">
	<header>
		<div class="title">
			<h2><a href="#">{{ page.title }}</a></h2>
			{% if page.subtitle %}
	        <p>{{ page.subtitle }}</p>
	        {% endif %}
		</div>
		<div class="meta">
			<time class="published" datetime='{{ page.date | date: "%Y-%m-%d" }}'>{{ page.date | date: "%-d" }} 
        {% assign m = page.date | date: "%m" %}
        {% case m %}
          {% when '01' %}Ocak
          {% when '02' %}Şubat
          {% when '03' %}Mart
          {% when '04' %}Nisan
          {% when '05' %}Mayıs
          {% when '06' %}Haziran
          {% when '07' %}Temmuz
          {% when '08' %}Ağustos
          {% when '09' %}Eylül
          {% when '10' %}Ekim
          {% when '11' %}Kasım
          {% when '12' %}Aralık
        {% endcase %} 
        {{ page.date | date: "%Y" }}</time>
        {% assign author = site.data.authors[page.author] %}
			<a href="#author" class="author"><span class="name">{{ page.author }}</span><img src="{{ author.avatar | prepend: "/img" }}" alt="{{ page.author }}" /></a>
			{% if page.categories %}
	        <p>{{ page.categories | join: ", " }}</p>
	        {% endif %}
		</div>
	</header>
	{% if page.image and page.image != "" %}
      	  <a href="#" class="image featured"><img src="{{ page.image | prepend: site.baseurl | replace: '//', '/' }}" alt="" /></a>
    {% endif %}
	{{ content }}
	<footer>
		<ul class="actions">
			{% if page.tags %}
	        <span class="glyphicon glyphicon-tags post-tag" title="Etiketler"></span>  {% include post-tags.html %}
	        {% endif %}
	        
		</ul>
		<ul class="stats">
	  	<li><div class="fb-like" data-href="{{site.url}}{{page.url}}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div> </li>
	  	
	  	<li><script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: tr_TR</script><script type="IN/Share" data-url="{{site.url}}{{page.url}}" data-counter="right"></script></li>
	    </ul>

	    
	</footer>
	{% if page.author %}
	<hr/>
	<div>
	    {% assign author = site.data.authors[page.author] %}
	    <div style="float:left;padding-right: 40px;">
	        <img src="{{ author.avatar | prepend: "/img" }}" title="{{ page.author }}" alt="{{ page.author }}" class="post-author-avatar" />
	      <h4 class="post-subheading">Yazar Hakkında</h4>
	    </div>
	    <div>
	    	<a rel="author" name="author" href="{{ author.url }}" title="{{ page.author }}" data-proofer-ignore> {{ page.author }}</a> {{ author.description }}
	    </div>
	    <div style="clear:both;"></div>
	</div>
	{% endif %}
</article>


<!-- Pagination -->

<ul class="actions pagination">
  <li>
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}"  class="button big previous" title="{{page.previous.title}}">ÖNCEKİ YAZI</a>
  {% else %}
    <a href="#"  class="disabled button big previous">ÖNCEKİ YAZI</a>
  {% endif %}
  </li>
  <li>
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}"  class="button big next" title="{{page.next.title}}">SONRAKİ YAZI</a>
  </li>
  {% else %}
    <a href="#"  class="disabled button big next">SONRAKİ YAZI</a>
  {% endif %}
</ul>

{% if page.comments %}
<div class="width:100%">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    {% include disqus.html %}
  </div>
</div>
{% endif %}