---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="artilce_header">
    {% if page.image and page.image != "" %}
      <img src="{{ page.image | prepend: site.baseurl | replace: '//', '/' }}"/>
    {% endif %} 
    <h1 class="artilce_title" itemprop="name headline">{{ page.title }}</h1>
    <p class="artilce_meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%-d" }} 
        {% assign m = page.date | date: "%m" %}
        {% case m %}
          {% when '01' %}Ocak
          {% when '02' %}Şubat
          {% when '03' %}Mart
          {% when '04' %}Nisan
          {% when '05' %}Mayıs
          {% when '06' %}Haziran
          {% when '07' %}Temmuz
          {% when '08' %}Ağustos
          {% when '09' %}Eylül
          {% when '10' %}Ekim
          {% when '11' %}Kasım
          {% when '12' %}Aralık
        {% endcase %} 
        {{ page.date | date: "%Y" }}, {% assign w = page.date | date: "%A" %}
        {% case w %}
          {% when 'Sunday' %}Pazar
          {% when 'Monday' %}Pazartesi
          {% when 'Tuesday' %}Salı
          {% when 'Wednesday' %}Çarşamba
          {% when 'Thursday' %}Perşembe
          {% when 'Friday' %}Cuma
          {% when 'Saturday' %}Cumartesi
        {% endcase %}
      </time> günü {% if page.author %}<span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span> tarafından {% endif %}yayınlandı.</p>  
  </header>

  <div class="article-content" itemprop="articleBody">
    {{ page.content }}
  </div>

  <footer class="article-footer">
    {% if page.tags %}
        <data data-icon="ei-tag"></data>   {% include post-tags.html %}
      {% endif %}
      {% if page.categories %}
      <data data-icon="ei-archive"></data> {{ page.categories | join: ", " }}
      {% endif %}
    <hr/>
  {% include share.html %}

  <hr/>

  {% include author.html %}

<hr/>


      {% if page.previous.url %}
      <div class="pagination older-post">
        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" title="{{page.previous.title}}"><data data-icon="ei-arrow-right"></data>Önceki Yazı</a>
      </div>
      {% endif %}
      {% if page.next.url %}
      <div class="pagination newer-post">
        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" title="{{page.next.title}}">Sonraki Yazı<data data-icon="ei-arrow-left"></data></a>
      </div>
      {% else %}
        <div class="pagination newer-post">&nbsp;</div>
      {% endif %}
  </footer>

  {% include dq.html %}

</article>
