---
layout: default
---

<header class="header-post">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="post-heading">
      	{% if post.image and post.image != "" %}
      	  <div class="featuredImg" style="background-image: url('{{ post.image | prepend: site.baseurl | replace: '//', '/' }}')"></div>
      	{% endif %} 
        <h1>{{ page.title }}</h1>
        {% if page.subtitle %}
        <h2 class="post-subheading">{{ page.subtitle }}</h2>
        {% endif %}
        <span class="post-meta">{{ page.date | date: "%-d" }} 
        {% assign m = page.date | date: "%m" %}
        {% case m %}
          {% when '01' %}Ocak
          {% when '02' %}Şubat
          {% when '03' %}Mart
          {% when '04' %}Nisan
          {% when '05' %}Mayıs
          {% when '06' %}Haziran
          {% when '07' %}Temmuz
          {% when '08' %}Ağustos
          {% when '09' %}Eylül
          {% when '10' %}Ekim
          {% when '11' %}Kasım
          {% when '12' %}Aralık
        {% endcase %} 
        {{ page.date | date: "%Y" }}
         tarihinde {{ page.author }} tarafından yayınlandı.
         <br/>
         {% if page.tags %}
        <span class="glyphicon glyphicon-tags" title="Etiketler"></span>  {{ page.tags | join: ", " }}
        {% endif %}
        {% if page.categories %}
        <span class="glyphicon glyphicon-folder-open" title="Kategori"></span>  {{ page.categories | join: ", " }}
        {% endif %}

         </span>
      </div>
     </div>
  </div>
</header>

<article>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	  {{ content }}
	</div>
  </div>
</article>

{% if page.author %}
<div class="footer-post">
  <div class="row post-author-row">
    {% assign author = site.data.authors[page.author] %}
    <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-1 post-author">
      <img src="{{ author.avatar | prepend: "/img" }}" title="{{ page.author }}" alt="{{ page.author }}" class="post-author-avatar" />
    </div>
    <div class="col-lg-6 col-md-8">
      <div class="post-heading">
        <h4 class="post-subheading">Yazar Hakkında</h4>
        <div class="post-meta">
          <a rel="author" href="{{ author.url }}" title="{{ page.author }}" data-proofer-ignore> {{ page.author }}</a> {{ author.description }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <ul class="pager blog-pager">
      {% if page.previous.url %}
      <li class="previous">
        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; ÖNCEKİ YAZI</a>
      </li>
      {% endif %}
      {% if page.next.url %}
      <li class="next">
        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">SONRAKİ YAZI &rarr;</a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>

{% if page.comments %}
<div class="row disqus-comments">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    {% include disqus.html %}
  </div>
</div>
{% endif %}
